
.vs/
*.sqlite
.vs/DroughtIndex/v17/.suo
.vs/slnx.sqlite
.vs/DroughtIndex/FileContentIndex/c39b3b6e-14b6-4021-97af-50a01814cd9f.vsidx
.vs/DroughtIndex/v17/.suo
.vs/slnx.sqlite
.vs/DroughtIndex/v17/.suo
.vs/slnx.sqlite
.vs/DroughtIndex/v17/.suo
.vs/slnx.sqlite
